@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(16, 122, 87);
  font-weight: 600;
  transition: 0.4s;
}

body {
  background-color: rgb(252, 252, 252)
}


@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 87%, 46%, 0.245); */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
